* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

:root {
	--color-text: white;
	--color-primary: #a81759; /* Used for highlights */
	--color-secondary: #171633; /* Used for backdrops of elements */
	--color-tertiary: #111025; /* Used for the backdrop of the entire page */
	--gradient-primary: linear-gradient(
		45deg,
		var(--color-primary) 0%,
		#a81796 35%,
		#6c17a8 65%,
		#3917a8 100%
	); /* Used for highlights */
	--gradient-secondary: linear-gradient(
		45deg,
		var(--color-secondary) 0%,
		#251633 35%,
		#2c1633 65%,
		#421531 100%
	); /* Used for backdrops of elements */

	--gap: 1rem;

	--border-radius: 0.35rem;
	--border-size: 0.25rem;

	--transition-duration: 250ms;
}

html {
	width: 100%;
	min-height: 100%;
}

body {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	background-color: var(--color-tertiary);
}

main {
	min-height: 100vh;
	padding: var(--gap);
	box-sizing: border-box;
}

section:not(:last-child) {
	margin-bottom: var(--gap);
}

h2 {
	width: fit-content;
	height: fit-content;
	color: var(--color-text);
}

h3 {
	font-size: 1.15rem;
	color: var(--color-text);
}

.grid-columns {
	height: 100% !important;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--gap);
}

@media (max-width: 1250px) {
	.grid-columns {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 850px) {
	.grid-columns {
		grid-template-columns: repeat(1, 1fr);
	}
}

.grid-rows {
	display: grid;
	grid-template-rows: auto;
	gap: var(--gap);
}

.grid-heading {
	padding-top: 3.65em;
}

.grid-element {
	min-height: 6rem;
	padding: var(--gap);
	box-sizing: border-box;
	color: var(--color-text);
	text-decoration: none;
	background-color: var(--color-secondary);
	background-image: var(--gradient-secondary);
	background-size: 150% 100%;
	border-radius: var(--border-radius);
	display: flex;
	align-items: center;
	position: relative;
	transition-property: background-position;
	transition-duration: var(--transition-duration);
	transition-timing-function: ease-out;
}

.grid-element:hover {
	background-position: 100% 0;
}

.grid-element::after,
#search::after {
	content: "";
	position: absolute;
	inset: auto 0 0 0;
	width: 100%;
	height: 0.4em;
	background-color: var(--color-primary);
	background-image: var(--gradient-primary);
	background-size: 150% 100%;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	transition-property: background-position;
	transition-duration: var(--transition-duration);
	transition-timing-function: ease-out;
}

.grid-element:hover::after,
#search:hover::after {
	background-position: 100% 0;
}

.grid-element:focus,
#search input:focus {
	outline-color: var(--color-primary);
	outline-width: var(--border-size);
	outline-style: solid;
}

.grid-element svg {
	margin-right: var(--gap);
	transform: scale(1.35);
}

.grid-element svg {
	filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(128deg)
		brightness(103%) contrast(101%);
}

#time {
	width: fit-content;
	margin: 2.85rem auto 0 auto;
	font-size: 3.5rem;
	color: transparent;
	background-image: var(--gradient-primary);
	background-clip: text;
	-webkit-background-clip: text;
	user-select: none;
}

#search {
	max-width: 65em;
	margin: 0 auto calc(2.85rem + var(--gap)) auto;
	position: relative;
}

@media (max-width: 67em) {
	#search {
		margin: 0;
	}
}

#search input {
	width: 100%;
	font-size: 1rem;
	border: none;
	color: var(--color-text);
}
